{% extends 'base.html' %}
{% include 'flash.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
      <p class="lead">Please sign in</p>
    </h1>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      User Agreement
    </div>
    <div class="panel-body">
      By logging into this system <strong>you agree to not upload/enter any
      Personally Identifying Information (PHI)</strong>, such as participant
      initials or other potentially identifying information. We reserve the
      right to restrict or terminate your access if misuse is discovered.
    </div>
    <div class="panel-footer" style="color: #a94442;">
      <a href="{{ url_for('users.new_account') }}" class="btn btn-primary" role="button">
        <i class="fas fa-id-card-alt fa-lg"></i>
        Request Account
      </a>
      <div class="pull-right">
        <a href="{{ url_for('auth.oauth_authorize', provider='github') }}"
            class="btn btn-primary" role="button">
          <i class="fab fa-github fa-lg"></i>
          GitHub Login
        </a>
        <a href="{{ url_for('auth.oauth_authorize', provider='gitlab') }}"
            class="btn btn-primary disabled" role="button">
          <i class="fab fa-gitlab fa-lg"></i>
          GitLab Login
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
