psycopg2==2.7.1
PyCap==1.0.2
future==0.16.0
Flask==0.11.1
Flask-Login==0.4.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
Jinja2==2.8
MarkupSafe==0.23
PyGithub==1.29
PyYAML==3.12
SQLAlchemy==1.1.4
Tempita==0.5.2
WTForms==2.1
Werkzeug==0.11.11
argparse==1.2.1
cffi==1.9.1
click==6.6
cryptography==1.6
decorator==4.0.10
docopt==0.6.2
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
lxml==3.6.4
mock==2.0.0
nibabel==2.1.0
nose==1.3.7
numpy==1.11.2
oauth==1.0.1
paramiko==2.0.2
pbr==1.10.0
pyasn1==0.1.9
pycparser==2.17
pydicom==0.9.9
pysftp==0.2.9
pyxnat==1.0.0.0
rauth==0.7.2
requests==2.12.1
six==1.10.0
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
uWSGI==2.0.14
wsgiref==0.1.2
