/* This file contains all the CSS styles for the dashboard. We can't really
split them up without causing additional HTTP requests (or introducing a CSS
preprocessor), so just try to keep them organized */


/**********************************************
* Site wide styling
***********************************************/
:root {
  /* Site color defaults are defined here! */
  --light-text: #F8F8F8;      /* Slightly off white */
  --dark-text: #383838;       /* Slightly gray black */
  --theme-main: #6E298D;      /* CAMH purple */
  --theme-dark: #5B2374;      /* Darker purple for highlight on hover etc. */
  --theme-light: #904B9C;     /* Lighter purple from CAMH palette */
  --alt-theme-main: #00A39B;  /* CAMH teal */
  --alt-theme-light: #7DCBD5; /* Lighter teal from CAMH palette */
  --bootstrap-success: #5CB85C;
  --bootstrap-warning: #F0AD4E;
  --bootstrap-danger: #D9534F;
}

/* labels in CAMH colours */
.label-theme-main {
  background-color: var(--theme-main);
}

.label-theme-dark {
  background-color: var(--theme-dark);
}

.label-theme-light {
  background-color: var(--theme-light);
}

.label-alt-theme-main {
  background-color: var(--alt-theme-main);
}

.label-alt-theme-light {
  background-color: var(--alt-theme-light);
}

body {
  /*Add padding so the footer doesnt overlap the content*/
  padding-bottom: 70px;
  color: var(--dark-text);
}

thead {
  color: var(--light-text);
  background-color: var(--alt-theme-main);
  font-size: 1.6rem;
  font-weight: 700;
}

#copyright {
  padding: 15px 10px;
}

#home-body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#search-bar {
  width: 350px !important;
}

#search-bar-btn {
  background-color: var(--theme-main);
  color: var(--light-text);
}

#search-bar-btn:hover {
  background-color: var(--theme-dark);
}

.approved {
  color: var(--bootstrap-success);
}

.flagged {
  color: var(--bootstrap-warning);
}

.blacklisted {
  color: var(--bootstrap-danger);
}

.well {
  margin-bottom: 10px;
}

.button-text {
  /* Styling for buttons with glyphicons  */
  padding: 5px;
}

.new-qc {
  background-color: var(--alt-theme-main);
  float: right;
  width: 80px;
  height: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.new-qc .badge {
  background-color: var(--light-text);
  color: var(--alt-theme-main);
  width: 35px;
}

.clickable-row {
  cursor: pointer;
}

.click-me {
  background: var(--alt-theme-light);
  color: var(--light-text);
  height: 100%;
  padding: 0px;
  text-align: right;
}

.table-hover tbody tr:hover .click-me {
  background: var(--alt-theme-main);
}

.header-icon {
  /* Give header icons a standardized amount of space */
  margin: 0px 3px;
}

.user-request {
  line-height: 34px;
  margin: 7px 25px 7px;
}

/**********************************************
* Study page styling
***********************************************/
#qc-panel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#qclist {
  /* Make the qc panel body scrollable if the list is too long */
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.tab-content {
  margin-top: 20px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.study-menu {
  /* Make study list menu same width as dropdown button */
  min-width: 100%;
}

.qc-warnings {
  display: inline-block;
  min-width: 100px;
}

/**********************************************
* Timepoints page styling
***********************************************/
#missing_comment {
  /* Styling for the session 'Scan Missing' modal comment box */
  width: 100% !important;
  resize: none !important;
  margin-bottom: 5px !important;
}

#doc-page {
  margin: 10px;
  margin-left: 0px;
}

#incidental-findings-report {
  margin-bottom: 40px;
}

#incidental-findings-report .finding-comment {
  margin-bottom: 30px;
}

.subject-warning-panel {
  margin-bottom: 30px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.section-separator {
  margin-top: 5px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #CCC, #333, #CCC);
}

.section-subheader {
  font-size: 1.3em;
}

.delete-session {
  margin-left: 10px;
}

.slide-button {
  /* Make a button slide in on hover */
  overflow: hidden;
  width: 0;
  padding: 0;
  border: none;
  height: 34px;
  margin: 0px 10px;
  transition: 0.2s ease;
}

.scan-row:hover .slide-button {
  /* slide in on scan rows */
  padding: 6px 12px;
  border: 1px solid transparent;
  width: 46px;
}

.github-issue {
  margin-bottom: 15px;
}

.github-issue .panel {
  margin-bottom: 0;
}

.github-issue .issue-header {
  margin-bottom: 2px;
}

.github-issue .issue-header .issue-status {
  text-transform: capitalize;
  font-weight: 700;
  padding-right: 10px;
}

.github-issue .issue-footer {
  display: inline-block;
}

.github-issue a {
  margin-top: 5px;
}

.review-status {
  overflow: hidden;
  margin: 5px 0;
  line-height: 27px;
}

.redcap-survey {
  overflow: hidden;
  margin: 10px 0;
}

.redcap-survey a {
  margin-top: 7px;
}

.redcap-survey .well {
  margin-bottom: 0px;
}

.entry-date {
  font-size: 0.8em;
}

.session-files {
  display: inline-block;
  width: 100%;
}

.scan-table {
  margin: 10px 0;
}

.scan-status {
  text-align: center;
}

.thumbnail {
  padding: 0px;
}
.comment-display {
	position:relative;
}

.comment-display .panel-heading {
  overflow: hidden;
  padding: 0;
  height: 42px;
  line-height: 42px;
}

.comment-display .comment-creator {
  padding: 15px;
}

.comment-display .btn-group {
  padding: 4px 5px;
}

.comment-display > .panel-heading:after, .comment-display > .panel-heading:before {
	position: absolute;
	top: 11px;
  left: -16px;
	right: 100%;
	width: 0;
	height: 0;
	display: block;
	content: " ";
	border-color: transparent;
	border-style: solid solid outset;
	pointer-events: none;
}

.comment-display > .panel-heading:after {
	border-width: 7px;
	border-right-color: #f7f7f7;
	margin-top: 1px;
	margin-left: 2px;
}
.comment-display > .panel-heading:before {
	border-right-color: #ddd;
	border-width: 8px;
}

.timepoint-comment {
  width: 100% !important;
  margin-bottom: 5px;
}

/**********************************************
* Timepoint QC styling
***********************************************/
.qc-comment-container {
  display: inline-block;
  width: 100%;
  height: 56px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.qc-scan-comment {
  display: inline-block;
  max-height: 56px;
}

.qc-badge {
  padding-top: 12px;
  margin-bottom: 10px;
}

.qc-approved, .qc-flagged, .qc-blacklisted {
  font-size: 1.5em;
}

#papaya-nav {
  position: absolute;
  padding-top: 200px;
  left: 30%;
  width: 160px;
  height: 208px;
  display: block;
}

#loop-series {
  margin-left: 35px !important;
}

#papaya-nav > #play-speed-controls {
  display: none;
  margin: 10px 0px 20px 0px;
}

#play-speed-controls > input {
  display: block;
  margin-bottom: 5px;
}

#papaya-nav > #change-volume-controls {
  margin-top: 20px;
}

/**********************************************
* User profile styling
***********************************************/
#global-permissions {
  height: 35px;
  line-height: 35px;
}

#global-permissions span {
  margin-right: 52px;
  margin-bottom: 5px;
}

#global-permissions label {
  padding-right: 5px;
}

#user-demo-info label {
  border-bottom: 1px solid #333;
  display: block;
  font-size: 1.25em;
  margin-bottom: 0px;
}

#user-demo-info label.col-one-half {
  float: left;
  width: 50%;
}

#user-demo-info label input {
  background: none;
  border: none;
  line-height: 1em;
  font-weight: 300;
  padding: 0.125em 0.25em;
  width: 100%;
}

#user-demo-info label input:focus {
  outline: none;
}

#user-demo-info label .label-text {
  display: block;
  font-size: 0.5em;
  font-weight: bold;
  padding: 0.15em 0em 0.125em 0.5em;
  text-transform: uppercase;
}

#user-demo-info label span.radio-label {
  display: inline;
  width: auto;
  line-height: 1em;
  font-weight: 300;
  padding: 0.125em 0.25em;
}

#user-demo-info label.col-one-half input[type=radio] {
  display: inline;
  clear: none;
  width: auto;
  border: 1px solid red;
  margin-top: 0px;
}

#optional-user-info h3 {
  margin: 80px 0px 10px 0px;
}

#access-table-box {
  border: 3px solid var(--alt-theme-main);
  border-radius:10px;
  background-color: var(--alt-theme-main);
  margin: 10px 0px;
}

#user-access-info table {
  table-layout: fixed;
  width: 100%;
  margin: 5px 0px;
}

#permission-table tbody tr:nth-child(odd) {
  background-color: white;
}

#permission-table tbody tr:nth-child(even) {
  background-color: #bcf4f1;
}

#user-access-info thead th:nth-child(1) {
  width: 20%;
}

#user-access-info thead th:nth-child(2) {
  width: 30%;
}

#user-access-info thead th:nth-child(3) {
  width: 15%;
}

#user-access-info thead th:nth-child(4) {
  width: 15%;
}

#user-access-info thead th:nth-child(5) {
  width: 20%;
}

#user-access-info td {
  padding: 2.5px;
}

#enable-study-panel {
  margin: 5px 0px;
  display: flex;
  align-items: flex-start;
}

#enable-study-panel select {
  width: 150px;
  margin: 0px 10px;
}

#enable-study-panel input {
  align-self: center;
}

#revoke_all_access {
  margin: 2px 0px 3px 10px;
}

.remove-study-btn {
  margin: 0px 10px;
}

/**********************************************
* Bootstrap customizations below
***********************************************/

.collapsible-heading {
  /* Add a chevron toggle for collapsible headings (e.g panels) */
  cursor: pointer;
}

.chevron-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";     /* Chevron down */
  float: right;
}

.collapsible-heading.collapsed .chevron-toggle:after {
  content: "\e113";       /* Chevron up */
}

.table > tbody > tr:first-child > td {
  /* Remove top border of tables without a head */
  border: none;
}

.table > thead + tbody > tr:first-child > td {
  /* Ensure top border exists on tables with a header */
  border-top: 1px solid #ddd;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  /* Change table hover color so it can be used in conjunction with
  table-striped */
  background-color: #e6e6e6;
}

.navbar-brand img {
  /* Restrict brand image size */
  height: 100%;
}

.jumbotron {
  color: var(--light-text);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/jumbotron-bg.png');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: capitalize;
}

.jumbotron h1 {
  word-wrap: break-word;
  font-size: 42px;
  color: var(--light-text);
  font-weight: 700;
  text-shadow: 1px 3px 1px rgba(0,0,0,0.3);
}

.navbar-collapse {
  /* Get rid of padding on the ends of the header */
  padding: 0px;
}

/* Make the navbar collapse earlier so it doesnt become two overlapping columns
as screen size shrinks */
@media (min-width: 768px) and (max-width: 1120px) {
  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }

  .navbar-header {
    float: none;
  }
}

/* Color scheme of navbar, tables and panel-primary to match CAMH scheme */

.navbar-default {
  background-color: var(--theme-main);
  border-color: var(--theme-main);
  color: var(--light-text);
}

.navbar-default .navbar-text {
  color: var(--light-text);
}

.navbar-default .navbar-brand {
  color: var(--light-text);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: var(--light-text);
}

.navbar-default .navbar-nav > li:hover {
  background-color: var(--theme-dark);
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: var(--theme-main);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: var(--light-text);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: var(--light-text);
  background-color: var(--theme-dark);
}

.navbar-default .navbar-nav > li > a {
  color: var(--light-text);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: var(--light-text);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: var(--theme-dark);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: var(--light-text);
  background-color: var(--theme-dark);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: var(--light-text);
  background-color: var(--theme-dark);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: var(--light-text);
  background-color: var(--theme-dark);
}
.navbar-default .navbar-toggle {
  border-color: var(--theme-dark);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--theme-dark);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--light-text);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: var(--light-text);
}
.navbar-default .navbar-link {
  color: var(--light-text);
}
.navbar-default .navbar-link:hover {
  color: var(--light-text);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: var(--light-text);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: var(--light-text);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: var(--light-text);
    background-color: var(--theme-dark);
  }
}

.navbar-nav .badge {
  background-color: #E60000;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.panel-primary > .panel-heading {
  color: var(--light-text);
  background-color: var(--theme-main);
  border-color: var(--theme-main);
}

.panel-primary {
  border-color: var(--theme-main);
}

.panel-primary > .panel-heading:hover {
  background-color: var(--theme-dark);
}
