/*
inline styles for local site
*/
@link-color:       @brand-primary;
@link-hover-color: darken(@link-color, 15%);

a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}

.nomargin{
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
}


.bd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  background-color: #6E298D;
}

.bd-pageheader .container {
  position: relative;
}

.camh {
  background-color: #6E298D
}

.scantype_dti{
  display: none;
}

.scantype_fmri{
  display: none;
}

.centered img {
  display: block;
  margin: auto;
  width: 40%;
}

.bd-pageheader h1 {
  font-size: 4rem;
  font-weight: normal;
  color: #fff;
}

.bd-pageheader p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
}

@media (min-width: 544px) {
  .bd-pageheader {
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    margin-bottom: 3rem;
    text-align: left;
  }
  .bd-pageheader .carbonad {
    margin: 2rem 0 0 !important;
  }
}

@media (min-width: 768px) {
  .bd-pageheader h1 {
    font-size: 4rem;
  }
  .bd-pageheader p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .bd-pageheader h1,
  .bd-pageheader p {
    margin-right: 380px;
  }
  .bd-pageheader .carbonad {
    position: absolute;
    top: 0;
    right: .75rem;
    margin: 0 !important;
  }
}

.control-label{
  font-weight: bold;fg
}



body {
  padding-bottom: 200px;
}
@media (max-width: 980px){
  body{
    padding-bottom: 0;
  }
}

.hide-dropdown{
  position: absolute;
  display: none;
}
