<div id="incidental-finding-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <h4>Report Incidental Finding</h4>
      </div>
      <div class="modal-body">
        <p>
          An incidental finding will be reported for <strong>{{ timepoint }}</strong>.
          Admins will be notified of the issue.
        </p>
        <form action="{{ url_for('timepoints.flag_finding', study_id=study_id,
            timepoint_id=timepoint.name) }}" method="post" name="flag-finding"
            class="form">
            {{ incidental_findings_form.hidden_tag() }}
            {{ incidental_findings_form.comment() }}
            <div>
            {{ incidental_findings_form.submit(class_="btn btn-primary")}}
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
