<!-- Overview of a single timepoint's data -->
{% extends "base.html" %}
{% include "flash.html" %}

{% block header_scripts %}

{{ super() }}


{% endblock %}

{% block content %}
<div class="container">

  <div class="jumbotron">
    <h1>{{ timepoint.name }}</h1>
    <p class="lead">
      {% if timepoint.bids_name %}
        BIDS Subject: {{ timepoint.bids_name }}<br>
        BIDS Session: {{ timepoint.bids_session }}<br>
      {% endif %}
      {% if timepoint.kcni_name %}
        KCNI ID: {{ timepoint.kcni_name }}
      {% endif %}
      {% if timepoint.is_phantom %}
        Phantom
      {% endif %}
    </p>
  </div>

  {% if timepoint.incidental_findings %}
    {% include 'incidental_finding_display.html'%}
  {% endif %}

  <div id="timepoint-reporting" class="row">
    <div class="col-xs-9">
      {% include 'sub_header.html' %}

      <div id="timepoint-body" style="margin-top:30px;">
        {% if (timepoint.needs_redcap_survey(study_id)
               or timepoint.missing_scans()) %}
          {% include 'warnings.html' %}
        {% endif %}


        {% include 'github_issues.html' %}


        {% include 'comments.html' %}

      </div>
    </div>
    <div class="col-xs-3">
      {% include 'menu_options.html' %}
    </div>
  </div>

  <div id="session-reporting">
    {% for session in timepoint.sessions.values() %}
      {% include 'sessions/main.html' %}
    {% endfor %}
  </div>

  {% include 'modals/incidental_findings.html' %}
  {% include 'modals/delete_data.html' %}
  {% include 'modals/new_issue.html' %}
  {% include 'modals/review_scan.html' %}

</div>

{% endblock %}
