<div class="row">
  <div class="col-xs-4">
    <div class="btn-group" role="group">
      <a class="btn btn-primary" href="{{ url_for('main.study', study_id=study_id) }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="button-text">Return to {{ study_id }}</span>
      </a>
    </div>
  </div>
  <div class="col-xs-8 text-center">
    {% if timepoint.is_qcd() %}
      <span class="text-success" style="font-size:24px;">
        <i class="fas fa-check-circle"></i> Reviewed
      </span>
    {% endif %}
  </div>
</div>
