<!-- Generates the panel of session-specific QC warnings -->
<div class="panel panel-danger subject-warning-panel">
  <div class="panel-heading collapsible-heading" data-toggle="collapse" data-target="#subjectwarnings">
    <h3 class="panel-title chevron-toggle">
      <i class="fas fa-exclamation-triangle"></i>
      Warnings
    </h3>
  </div>
  <div class="panel-body collapse in" id="subjectwarnings">
    {% set needs_redcap = timepoint.needs_redcap_survey(study_id) %}
    {% for session in timepoint.sessions.values() %}
      {% if needs_redcap and not session.redcap_record %}
        <!-- The missing redcap survey warning(s) -->
        <div>
          <h4 style="display: inline-block;">
            <span class="label label-warning">
              <i class="fas fa-info-circle"></i> No REDCap record available:
            </span>
          </h4>
          <span>
            A survey is expected for <strong>{{ session }}</strong> but no
            survey has been found.
          </span>
          {% if current_user.is_study_admin(study_id) %}
            <a href="#" data-toggle="modal" data-target="#redcap-error-modal"
                data-session="{{ session }}" data-num="{{ session.num}}"
                class="close dismiss-redcap">
              <i class="fas fa-times"></i>
            </a>
          {% endif %}
        </div>
      {% endif %}

      {% if session.missing_scans() %}
        <!-- The missing scans warning. It's visually obvious, but including this
         allows it to be permanently dismissed by the user -->
        <div>
          <h4 style="display: inline-block;">
            <span class="label label-warning">
              <i class="fas fa-info-circle"></i> Missing Scans:
            </span>
          </h4>
          <span>
            {% if not session.redcap_record.record %}
              <!-- No redcap record but the redcap missing error was dismissed -->
              No scans found for <strong>{{ session }}</strong>.
            {% else %}
              A redcap record was received for <strong>{{ session }}</strong> on
              <strong>{{ session.redcap_record.record.date }}</strong> but no
              scans have been found.
            {% endif %}
          </span>
          {% if current_user.is_study_admin(study_id) %}
            <a href="#" data-toggle="modal" data-target="#scans-error-modal"
                data-session="{{ session }}" data-num="{{ session.num }}"
                class="close missing-scans">
              <i class="fas fa-times"></i>
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>

<div id="redcap-error-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <h4>Dismiss error message?</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong><span id="redcap-sess"></span></strong> will be marked as not
          expecting a survey. If one is added later it will not be automatically
          found.
        </p>
        <br>
        <p style="text-align: center;">Continue?</p>
      </div>
      <div class="modal-footer">
        <input type="button" id="rm-error" class="btn btn-primary pull-left"
            value="Yes"/>
        <button type="button" class="btn btn-danger"
          data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div id="scans-error-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <h4>Dismiss 'Missing Scans' Error</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong><span id="missing-scans-sess"></span></strong> will be marked
          as never expecting scans.
        </p>
        <form action="#" method="post" name="empty-session" class="form"
            id="empty-session-form">
          {{ empty_session_form.hidden_tag() }}
          <div>
            {{ empty_session_form.comment() }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
//turn on autosize for the scans-error-modal comment field
autosize($("#missing_comment"));

// Sets the full session name and destination URL in the confirmation prompt
// depending on which session's redcap missing error is dismissed.
$(".dismiss-redcap").on("click", function() {
  var session = this.getAttribute("data-session");
  var num = this.getAttribute("data-num");
  var destURL = "{{ url_for('timepoints.timepoint', study_id=study_id, timepoint_id=timepoint.name) }}" +
      'dismiss_redcap/' + num;
  $("#rm-error").on("click", function() { window.location.href = destURL;});
  $("#redcap-sess").text(session);
});

// Sets the session name and destination URL for the form based on which session
// had its 'missing scans' error dismissed.
$(".missing-scans").on("click", function() {
  var session = this.getAttribute("data-session");
  var num = this.getAttribute("data-num");
  var destURL = "{{ url_for('timepoints.timepoint', study_id=study_id, timepoint_id=timepoint.name) }}" +
      'dismiss_missing/' + num;
  $("#missing-scans-sess").text(session);
  $("#empty-session-form")[0].setAttribute("action", destURL);
});
</script>
