<!-- Provides a page users can use to search and download QC reviews -->
{% extends 'base.html' %}
{% include 'flash.html' %}

{% block header_scripts %}
  {{ super() }}
  <script type="text/javascript">
    // Variables needed by javascript functions
    const csrfToken = "{{ csrf_token() }}";
    const searchUrl = "{{ url_for('qc_search.lookup_data') }}";
  </script>
{% endblock%}

{% block content %}
<div class="row">
  <div id="qc-search-terms-display" class="col-xs-4">
    <form action="{{ url_for('qc_search.lookup_data') }}" method="post" id="qc-search-form">
      {{ search_form.hidden_tag() }}
      {% for fname in search_form._fields %}
        {% if fname not in ['submit', 'csrf_token'] %}
          <span class="qc-search-label">
            {{ search_form._fields[fname].label }}
          </span>
          <span class="qc-search-value">
            {{ search_form._fields[fname] }}
          </span>
        {% endif %}
      {% endfor %}
      <div class="row">
        <div id="qc-search-interface" class="btn-group pull-right">
          <button id="qc-search-btn" class="button btn btn-primary">
            <span class="fas fa-search"></span> Search
          </button>
          <span id="qc-search-reset" class="btn btn-primary">
            <span class="fas fa-backspace"></span>
            Clear
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <a id="qc-download" class="btn btn-primary pull-left" download="qc.csv">
        <i class="fas fa-download"></i>Download
      </a>
    </div>
    <div class="row">
      <table id="qc-search-results-table" class="table table-striped" style="width: 100%;">
        <thead>
          <tr>
            <th style="width: 40%;">Scan</th>
            <th style="width: 10%;">Approved</th>
            <th style="width: 50%;">Comment</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
  <script type="text/javascript" src="{{ url_for('qc_search.static', filename='qc-search.js') }}"></script>
{% endblock %}
