<div role="navigation">
  <div class="btn-group-vertical pull-right" role="group">
    {% if current_user.is_study_admin(study_id) %}
      <a class="button btn btn-primary" id="print_brain">
        <span class="pull-right glyphicon glyphicon-print"></span>
        <span class="button-text">Print Brain</span>
      </a>
      <a class="button btn btn-primary" id="delete-timepoint"
          data-toggle="modal" href="#delete-modal">
        <span class="pull-right glyphicon glyphicon-trash"></span>
        <span class="button-text">Delete all</span>
      </a>
    {% endif %}
    <a class="button btn btn-primary" data-toggle="modal"
        href="#incidental-finding-modal">
      <span class="pull-right glyphicon glyphicon-flag"></span>
      <span class="button-text">Flag Incidental Finding</span>
    </a>
  </div>
</div>
