<div class="text-muted">
  Scan converted with {{ scan.header_diffs[0].scan_version }}
</div>
<div class="row">
  <div class="col-md-8 text-muted">
    Gold standard converted with {{ scan.header_diffs[0].gold_version }}
  </div>
  <div class="col-md-4 text-muted">
    <span class="pull-right"> Headers compared at {{ scan.header_diffs[0].timestamp }}</span>
  </div>
</div>

<table class="table table-striped">
  <thead class="collapsible-heading" data-target="#scan-diffs" data-toggle="collapse">
    <tr>
      <td class="col-md-4">Header Field</td>
      <td class="col-md-4">Expected Value</td>
      <td class="col-md-4">Actual Value <span class="chevron-toggle"></span></td>
    </tr>
  </thead>
  <tbody id="scan-diffs" class="collapse in">
    {% for field in diffs %}
      {% if field == 'missing' %}
        <tr>
          <td>Missing Fields</td>
          <td colspan="2">{{ ", ".join(diffs[field]) }}</td>
        </tr>
      {% else %}
        <tr>
          <td>
            {{ field }}
            {% if field == 'SliceTiming' %}
              <br>
              <br>
              <div class="btn-group-vertical pull-right" role="group">
                {% if "RepetitionTime" not in diffs and diffs[field]["actual"]|length == diffs[field]["expected"]|length %}
                  <a class="button btn btn-danger"
                     href="{{ url_for('scans.fix_slice_timing', study_id=study_id, scan_id=scan.id, auto=True) }}">
                     Use Standard Timing
                  </a>
                {% endif %}
                <a id="header-rewrite" class="button btn btn-danger"
                   data-toggle="modal" href="#slice_timing_modal">
                  Manual Edit
                </a>
                <a class="button btn btn-danger"
                   href="{{ url_for('scans.fix_slice_timing', study_id=study_id, scan_id=scan.id, delete=True) }}">
                  Delete Field
                </a>
              </div>
              {% include 'scan/modals/slice_timing.html' %}
            {% endif %}
          </td>
          <td>{{ diffs[field]['expected'] }}</td>
          <td>
            {{ diffs[field]['actual'] }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
