<div class="text-muted">
  <span class="pull-right"> Headers compared at {{ scan.header_diffs[0].timestamp }}</span>
</div>
<div class="text-muted">
  Scan converted with {{ scan.header_diffs[0].scan_version }}
</div>
<div class="text-muted">
  Gold standard converted with {{ scan.header_diffs[0].gold_version }}
</div>
<table class="table table-striped">
  <thead class="collapsible-heading" data-target="#scan-diffs" data-toggle="collapse">
    <tr>
      <td class="col-md-4">Header Field</td>
      <td class="col-md-4">Expected Value</td>
      <td class="col-md-4">Actual Value <span class="chevron-toggle"></span></td>
    </tr>
  </thead>
  <tbody id="scan-diffs" class="collapse in">
    {% for field in diffs %}
      <tr>
        <td>{{ field }}</td>
        <td>{{ diffs[field]['expected'] }}</td>
        <td>
          {{ diffs[field]['actual'] }}
          {% if field == 'SliceTiming' %}
            <a id="header-rewrite" class="button btn btn-danger"
                style="position: relative; left: 90%;"
                data-toggle="modal" href="#slice_timing_modal">
              Overwrite
            </a>
            {% include 'scan/modals/slice_timing.html' %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
