<table class="table table-striped collapsible-heading" data-toggle="collapse"
    data-target="#scan-diffs">
  <thead>
    <tr>
      <td class="col-md-4">Header Field</td>
      <td class="col-md-4">Expected Value</td>
      <td class="col-md-4">Actual Value <span class="chevron-toggle"></span></td>
    </tr>
  </thead>
  <tbody id="scan-diffs" class="collapse in">
    {% for field in diffs %}
      <tr>
        <td>{{ field }}</td>
        <td>{{ diffs[field]['expected'] }}</td>
        <td>{{ diffs[field]['actual'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
