<!-- Overview for a single scan -->
{% extends 'base.html' %}
{% include 'flash.html' %}
{% block content %}

<div class="container">
    <div class="row">
      {% include 'scan/header.html' %}
    </div>
    {% set diffs = scan.get_header_diffs() %}
    {% if diffs != {} %}
      <div class="row" style="margin-top: 20px;">
        {% include 'scan/header_diffs.html' %}
      </div>
    {% endif %}
    <div class="row">
      {% if not scan.tag in ['T1','T2'] %}
          {% include 'scan/papaya_nav.html' %}
      {% endif %}
      {% include 'scan/viewer.html' %}
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/papaya.css" />
<script type="text/javascript" src="/static/js/papaya.js"></script>

{% endblock %}
