<div id="delete-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <h4>Delete database records?</h4>
      </div>
      <div class="modal-body">
        <p><span style="color: red;"><strong>WARNING: </strong></span>
          <span id="delete-message"></span>
          <div style="text-align: center;">Continue?</div>
        </p>
      </div>
      <div class="modal-footer">
        <a type="button" id="delete-submit" class="btn btn-primary pull-left"
            href="#">
          Delete
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function updateDeleteModal(session_num, scan_id, scan_name, scan_children) {
  var name = "{{ timepoint.name }}";
  var warningBox = $("#delete-message");
  var submitButton = $("#delete-submit");
  if (session_num && scan_id) {
    var message = "Scan '" + scan_name + "' will be deleted. Any metrics " +
        "associated with it will also be deleted. If data is left on the " +
        "filesystem it will regenerate but any related comments or QC status " +
        "will be lost forever.";
    if (scan_children) {
      message = message + "<br><br>This scan data is linked under other names. If " +
        "deleted, the following scans entries will also be removed:<br><br>" +
        "<div style='text-align:center;'>" + scan_children + "</div><br><br>";
    }
    // Done manually for same reason as below
    var destURL = "{{ url_for('delete_scan', study_id=study_id, timepoint_id=timepoint.name) }}" + scan_id;
  }else if (session_num) {
    var message = "Session " + session_num + " from " + name +
      " will be deleted and everything associated with it will be purged " +
      "from the database (i.e. all scans, blacklist comments, metrics, etc.). " +
      "Everything except comments will be regenerated if the data is left on " +
      "the filesystem.";
    // Session_num is appended manually because the value of the variable isnt
    // known until run time when a button is clicked. By this point the template
    // has already been rendered.
    var destURL = "{{ url_for('timepoint', study_id=study_id, timepoint_id=timepoint.name) }}/delete_session/" +
        session_num;
  } else {
    var message = name + " will be deleted. " +
      "Everything associated with this ID will be purged from the database. " +
      "If the original data is left on the filesystem it will be re-added " +
      "later, but any associated comments will disappear forever.";
    var destURL = "{{ url_for('delete_timepoint', study_id=study_id, timepoint_id=timepoint.name)}}";
  }
  warningBox.html(message);
  submitButton.attr("href", destURL);
}

// Set up listeners on the buttons that use this modal

// updateDeleteModal is wrapped in a function to ensure session_num isnt set by the browser
$("#delete-timepoint").on('click', function () {updateDeleteModal()});

$(".delete-session").on('click', function() {
  var session = this.getAttribute('data-session');
  updateDeleteModal(session);
});

$('.delete-scan').on('click', function() {
  var session = this.getAttribute('data-session');
  var scan = this.getAttribute('data-scan');
  var name = this.getAttribute('data-scan-name');
  var children = this.getAttribute('data-links');
  updateDeleteModal(session, scan, name, children);
});

</script>
