<div id="delete-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fas fa-times"></i>
        </button>
        <h4>Delete database records?</h4>
      </div>
      <div class="modal-body">
        <p><span style="color: red;"><strong>WARNING: </strong></span>
          <span id="delete-message"></span>
          <div style="text-align: center;">Continue?</div>
        <form id="delete-options" action="#" method="post" style="display: none;">
          <br>
          <strong>Choose items to delete</strong>
          <br>
          <br>
          {{ delete_form.hidden_tag() }}
          <div class="form-group">
            {{ delete_form.database_records(checked=True) }}
            {{ delete_form.database_records.label }}
          </div>
          <div class="form-group">
            {{ delete_form.raw_data(checked=True) }}
            {{ delete_form.raw_data.label }}
          </div>
          <div id="pipeline-option" class="form-group">
            {{ delete_form.pipeline_data(checked=True) }}
            {{ delete_form.pipeline_data.label }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span class="btn-group pull-left">
          <a type="button" id="delete-submit" class="btn btn-primary"
              onclick="document.getElementById('delete-options').submit();">
            Delete
          </a>
          <button type="button" id="delete-options-button" class="btn btn-default">
            Options
          </button>
        </span>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function updateDeleteModal(session_num, scan_id, scan_name, scan_children) {
  var name = "{{ timepoint.name }}";
  var warningBox = $("#delete-message");
  var deleteForm = $("#delete-options");

  // Reset to defaults every time the modal is opened
  var checkboxes = $("#delete-options input[type=checkbox]")
  for (var i = 0; i < checkboxes.length; i++) {
    checkboxes[i].checked = true;
  }

  var currentModal = getModalChanges(session_num, scan_id, scan_name,
                                     scan_children);
  var message = currentModal[0];
  var destURL = currentModal[1];

  warningBox.html(message);
  deleteForm.attr("action", destURL);
  if (scan_id) {
    // We only want to offer pipeline output cleanup at the timepoint/session level
    // since we dont have a way to track which outputs are linked with
    // which scans
    $("#pipeline_data")[0].checked = false;
    $("#pipeline-option").hide();
  } else {
    $("#pipeline-option").show();
  }
}

// Set up listeners on the buttons that use this modal

// updateDeleteModal is wrapped in a function to ensure session_num isnt set by the browser
$("#delete-timepoint").on('click', function () {updateDeleteModal()});

$(".delete-session").on('click', function() {
  var session = this.getAttribute('data-session');
  updateDeleteModal(session);
});

$('.delete-scan').on('click', function() {
  var session = this.getAttribute('data-session');
  var scan = this.getAttribute('data-scan');
  var name = this.getAttribute('data-scan-name');
  var children = this.getAttribute('data-links');
  updateDeleteModal(session, scan, name, children);
});

$("#delete-options-button").on("click", function() {
  $("#delete-options").toggle();
});

function getModalChanges(session_num, scan_id, scan_name, scan_children) {
  if (session_num && scan_id) {
    var message = "Scan '" + scan_name + "' will be deleted. Any metrics " +
        "associated with it will also be deleted. If data is left on the " +
        "filesystem it will regenerate but any related comments or QC status " +
        "will be lost forever.";
    if (scan_children) {
      message = message + "<br><br>This scan data is linked under other names. If " +
        "deleted, the following scans entries will also be removed:<br><br>" +
        "<div style='text-align:center;'>" + scan_children + "</div><br><br>";
    }
    // Done manually for same reason as below
    var destURL = "{{ url_for('delete_scan', study_id=study_id, timepoint_id=timepoint.name) }}" + scan_id;
  }else if (session_num) {
    var message = "Session " + session_num + " from " + name +
      " will be deleted and everything associated with it will be purged " +
      "from the database (i.e. all scans, blacklist comments, metrics, etc.). " +
      "Everything except comments will be regenerated if the data is left on " +
      "the filesystem.";
    // Session_num is appended manually because the value of the variable isnt
    // known until run time when a button is clicked. By this point the template
    // has already been rendered.
    var destURL = "{{ url_for('timepoint', study_id=study_id, timepoint_id=timepoint.name) }}/delete_session/" +
        session_num;
  } else {
    var message = name + " will be deleted. " +
      "Everything associated with this ID will be purged from the database. " +
      "If the original data is left on the filesystem it will be re-added " +
      "later, but any associated comments will disappear forever.";
    var destURL = "{{ url_for('delete_timepoint', study_id=study_id, timepoint_id=timepoint.name)}}";
  }

  return [message, destURL]
}

</script>
