{% extends 'base.html' %}
{% include 'flash.html' %}

{% block content %}
  <div class="container">
    <form action="{{ url_for('new_account') }}" method="post"
        name="new_account">
      {{ form.hidden_tag() }}
      <h2>New User Details</h2>
      <div id="user_info">
        {{ form.first_name.label }}{{ form.first_name }}<br>
        {{ form.last_name.label }}{{ form.last_name }}<br>
        {{ form.email.label }}{{ form.email }}<br>
      </div>
      <div id="optional_user_info">
        <h4>Optional Info</h4>
        {{ form.position.label }} {{ form.position }}<br>
        {{ form.institution.label }} {{ form.institution }}<br>
        {{ form.phone.label }} {{ form.phone }}<br>
        {{ form.ext.label }} {{ form.ext }}<br>
        {{ form.alt_phone.label }} {{ form.alt_phone }}<br>
        {{ form.alt_ext.label }} {{ form.alt_ext }}<br>
      </div>
    </form>
  </div>
{% endblock %}
