{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
    <div class="jumbotron">
        <h1>Sites</h1>
    </div>
    <div class="container">


      <form class="form-inline" action="" method="post" name="select_metrics">
        {{ form.csrf_token }}
        {{ form.query_complete}}
          <div class="form-group">
            <div class="control-label text-primary" for="site_id">Sites</div>
            {{ form.site_id(maxlength=64, class=span4) }}
          </div>
          <div class="form-group">
            <div class="control-label text-primary" for="study_id">Studies</div>
            {{ form.study_id(maxlength=64, class=span4) }}
          </div>
          <div class="form-group">
            <div class="control-label text-primary" for="scantype_id">Scan types</div>
            {{ form.scantype_id(maxlength=64, class=span4) }}
          </div>
          <div class="form-group">
            <div class="control-label text-primary" for="metrictype_id">Metrics</div>
            {{ form.metrictype_id(maxlength=64, class=span4) }}
          </div>

            <div class="controls row">
              <input class="btn btn-primary" type="submit" value="Update">
               <button type="button" onclick="downloadCSVFile()" class="btn btn-primary" >Download CSV</button>
            </div>
          </div>

      </form>
    </div>

    <br/>
    <div id="data">
      <table class="table table-striped" border=1>
      {% for line in data %}
      <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>{{line[5]}}</td>
        <td>{{line[6]}}</td>
        <td>{{line[7]}}</td>
        <td>{{line[8]}}</td>
        <td>{{line[9]}}</td>
        <td>{{line[10]}}</td>
        <td>{{line[11]}}</td>
        <td>{{line[12]}}</td>
        <td>{{line[13]}}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
    <div id='chart'></div>
    <script async src="/static/js/plot.js" onload="initPlot()"></script>
    <script type=text/javascript>
      // bind the submit event to the form elements
      $(function() {
        $("[name=select_metrics]").find("select").bind('change', function(){
          $(this).closest("form").submit();
        })
      });
      //catch the update button even and use it to update the hidden field to True
      $(function(){
        $("input[type=submit]").bind('click', function(){
          $(this).closest("form").find("input[name=query_complete]").val('True');
        })
      });

      function downloadCSVFile() {
        const rows = {{ data|tojson }};
        let csvContent = "data:text/csv;charset=utf-8,";
        rows.forEach(function(rowArray) {
          splitRow = rowArray.toString()
          splitRow = splitRow.replace("#n", "num")
          csvContent += splitRow + "\r\n";
        });

        var encodedUri = encodeURI(csvContent);

        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "output.csv");
        document.body.appendChild(link);

        link.click();
              }
      </script>

{% endblock %}
