{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
    <script type=text/javascript>
      // bind the submit event to the form elements
      $(function() {
        $("[name=select_metrics]").find("select").bind('change', function(){
          $(this).closest("form").submit();
        })
      });
      //catch the update button even and use it to update the hidden field to True
      $(function(){
        $("input[type=submit]").bind('click', function(){
          $(this).closest("form").find("input[name=query_complete]").val('True');
        })
      });
    </script>
    <div class="bd-pageheader jumbotron">
        <h1>Sites</h1>
    </div>
    <div class="container">


      <form class="form-inline" action="" method="post" name="select_metrics">
        {{ form.csrf_token }}
        {{ form.query_complete}}
          <div class="form-group">
            <div class="control-label text-primary" for="site_id">Sites</div>
            {{ form.site_id(maxlength=64, class=span4) }}
          </div>
          <div class="form-group">
            <div class="control-label text-primary" for="study_id">Studies</div>
            {{ form.study_id(maxlength=64, class=span4) }}
          </div>
          <div class="form-group">
            <div class="control-label text-primary" for="scantype_id">Scan types</div>
            {{ form.scantype_id(maxlength=64, class=span4) }}
          </div>
          <div class="form-group">
            <div class="control-label text-primary" for="metrictype_id">Metrics</div>
            {{ form.metrictype_id(maxlength=64, class=span4) }}
          </div>

            <div class="controls row">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </div>

      </form>
    </div>

    <br/>
    <div id='data' class="container">
          {{data}}
    </div>
    <div id='chart'></div>
    <script async src="/static/js/plot.js" onload="initPlot()"></script>

{% endblock %}
