<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
  <div class="bd-pageheader jumbotron">
    <h1>Kimel Lab QC Monitor</h1>
      <p class="lead"> Monitoring {{ session_count }} sessions for {{ study_count }} studies.</p>
    </h1>
  </div>
  <div>
    <h3>Select a study below:</h3>
    <table class="table-striped">
      <tr><td><b>Study name</b></td>
        <td><b># of sessions</b></td>
      </tr>
      {% for study in studies %}
      {% if study.name %}
        <tr>
          <td><a href="{{ url_for('study', study_id=study.id) }}"> {{ study.name }}</a></td>
          <td><center>{{study.sessions|count}}</center></td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
