<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
    <div id="home-body">
      <div class="jumbotron">
        <h1>Kimel TIGR Lab MR Quality Control</h1>
          <p class="lead"> Monitoring {{ timepoint_count }} sessions for {{ study_count }} studies across {{ site_count }} sites.</p>
        </h1>
      </div>
      {% if studies|count > 0 %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <td>Nickname</td>
            <td><!-- This empty column is for the is_open labels --></td>
            <td><!-- This empty column is for the 'new QC' labels  --></td>
            <td style="width: 70%">Study Name</td>
            <td align="right"># of Sessions</td>
            <td><!-- This empty column is for the 'View More' indicator so they know rows are clickable  --></td>
          </tr>
        </thead>
        <tbody>
          {% for study in studies %}
          <tr class="clickable-row" data-href="{{ url_for('main.study', study_id=study.id) }}">
            <td> {{ study.id }} </td>
            <td align="center">
              {% if study.is_open %}
                <span class="label label-alt-theme-light">Open</span>
              {% else %}
                <span class="label label-default">Closed</span>
              {% endif %}
            </td>
            <td>
              {% set new_sessions = study.get_new_sessions().count() %}
              {% if new_sessions %}
                <span class="label label-primary new-qc">New
                  <span class="badge">{{ new_sessions }}</span>
                </span>
              {% endif %}
            </td>
            <td>{{ study.name }}</a></td>
            <td align="right">{{ study.timepoints.count() }}</td>
            <td class="click-me">
              <span> View More <span class="glyphicon glyphicon-menu-right"></span></span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>You do not have access to any studies. Please contact an administrator to receive access.</h3>
      {% endif %}
    </div>
{% endblock %}
