{% extends "base.html" %}
{% include 'flash.html' %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome</h1>
    <p class="lead"> Please login using the provider listed below</p>
  </h1>
</div>
<div class="container">
  <h3><p class="bg-danger">
    Important note: By logging into this system, you agree to not upload/enter any information that has Personally Identifying Information (PHI), such as participant initials or other potentially identifying information. We reserver the right to restrict or terminate your access if misuse is discovered.
    <br/>
    We reserve the right to restrict or terminate your access if misuse is discovered.
  </p>
  <p>Select an option below to login:</p>
</div>
<div class="container">
  <a href="{{ url_for('oauth_authorize', provider='github') }}" class="btn btn-info btn-lg" role="button">GitHub</a>
  <a href="{{ url_for('oauth_authorize', provider='gitlab') }}" class="btn btn-info btn-lg disabled" role="button">GitLab</a>
</div>
{% endblock %}
