<div style="display:none" id='study_name'>{{ study.nickname }}</div>
<div style="display:none" id='phantoms'>1</div>
</br>
<div class="row">
  <div class="input-group" role="group" aria-label="site">
    <span class="input-group-addon">
      <div class="row">
      <h4>
      Select sites:
      {% for site in study.sites %}
        <label>{{ site.name }} <input type="checkbox" aria-label="{{site.name}}" value="{{site.name}}" name="site"/></label>
      {% endfor %}
    </h4>
  </div>
<div class="row"><center>
    <div class="btn-group col-md-4" role="group" aria-label="scan type" id="scanclassselector">Select scan type:
      <center><button type="button" class="btn btn-default centered dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px;">
        <span data-bind="label" id="scantypeselector">Scan Type: </span><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">FMRI </a></li>
        <li><a href="#">DTI </a></li>
        <li><a href="#">T1 </a></li>
      </ul></center>
</div>

<div class="btn-group col-md-3" role="group" aria-label="scan tags" id="scantypeselector">Select scan subtype:</br>
  {% for scantype in study.scantypes %}
    {% if scantype.name in ['T1'] %}
      <label style="display:none" class="scantype_t1"> {{ scantype.name }}<input type="radio" aria-label="{{scantype.name}}" value="{{scantype.name}}" name="scantype" style="margin-top: 5px;"/></label>
    {% elif scantype.name.startswith('DTI') %}
      <label style="display:none" class="scantype_dti"> {{ scantype.name }}<input type="radio" aria-label="{{scantype.name}}" value="{{scantype.name}}" name="scantype" style="margin-top: 5px;"/></label>
    {% elif scantype.name in ['RST'] %}
      <label style="display:none" class="scantype_fmri"> {{ scantype.name }}<input type="radio" aria-label="{{scantype.name}}" value="{{scantype.name}}" name="scantype" style="margin-top: 5px;"/></label>
    {% endif %}
  {% endfor %}
</div>

<div class="btn-group col-md-4" role="group" aria-label="metric types" id="metrictypeselector">Select metric type:
  <center><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px;">
    <span data-bind="label">Metric Type: </span><span class="caret"></span>
  </button>
  <ul class="dropdown-menu drawplot" role='menu'>
  {% for metrictype in metricnames %}
    {% if metrictype[0] == 'DTI' %}
      {% if metrictype[1] in display_metrics['phantom']['dti'] %}
        <li style="display:none" class="scantype_dti">{{ metrictype[1] }} </li>
      {% endif %}
    {% elif metrictype[0] == 'FMRI' %}
      {% if metrictype[1] in  display_metrics['phantom']['fmri'] %}
        <li style="display:none" class="scantype_fmri">{{ metrictype[1] }} </li>
      {% endif %}
    {% elif metrictype[0] == 'T1' %}
      {% if metrictype[1] in display_metrics['phantom']['t1'] %}
        <li style="display:none" class="scantype_t1"> {{ metrictype[1] }} </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul></center>
</div>

</center>
</div>

    </span>
    </div>
  </div>

</br>
<div class="row" id="loading_chart" style="display:none">
  <img class="center-block" src='/static/images/ajax-loader.gif' alt="loading">
</div>
<div class="row">
  <div id="chart">
  </div>
  <center><button type="button" class="btn btn-primary" id="remove_outliers" style="display:none">Remove outliers</button></center>
</div>
