<div id="qc-panel" class="panel panel-primary">
  <div class="panel-heading" data-toggle="collapse" data-target="#qclist">
    <h3 class="panel-title chevron-toggle">Outstanding QC</h3>
  </div>
  <div class="panel-body collapse in" id="qclist">
    <table class="table table-striped table-hover table-condensed">
      {% for session in pending_qc %}
          <tr class="clickable-row" data-href="{{ url_for('session', session_id=session.id) }}">
            <td>{{ session.name }}</td>
            <td>
              <!-- Add label for 'needs rewrite' if required -->
              {% if session.needs_rewrite() %}
                <span class="label qc-warnings label-danger" title="Repeat session not on QC page. Regenerate page by running dm_qc_report.py with the --rewrite flag">Needs Rewrite</span>
              {% endif %}
              <!-- Add label for 'missing redcap' if required -->
              {% if session.needs_redcap_survey() %}
                <span class="label qc-warnings label-primary" title="Participant does not have a REDCap survey even though this scan site collects them">Missing REDCap</span>
              {% endif %}
              <!-- Add label for 'missing imaging' if required -->
              {% if session.needs_scans() %}
                <span class="label qc-warnings label-warning" title="Participant exists in REDCap but does not have scans">Missing Scans</span>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
    </table>
  </div>
</div>
