<h3>Outstanding QC:</h3>
<!-- This determines outstanding QC's from the database -->
<span class="label label-info">
Highlight indicates sessions where scans have been repeated.
dm-qc-report.py should be manually re-run with --rewrite flag before these scans are qc'd</span>
<div class="container" id="qc_outstanding">
  <table>
    {% for session in study.sessions %}
      {% if not session.is_current_qcd()
            and not session.is_phantom
            and session.scan_count() > 0 %}
        <tr><td>
          <a href={{ url_for('session', session_id=session.id) }}>
            {% if session.is_repeated %}
              <span class="label label-info">
                {{ session.name }}
              </span>
            {% else %}
              {{ session.name }}
            {% endif %}
          </a>
        </td></tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<h3>Missing Redcap:</h3>
Sessions where redcap records are missing.
<span class="label label-info">Limited to CAMH sessions.</span>
<div class="container" id="qc_outstanding">
  <table>
    {% for session in study.sessions %}
      {% if session.site.name=='CMH'
            and not session.is_phantom
            and session.redcap_record == '' %}
        <tr><td>
          <a href={{ url_for('session', session_id=session.id) }}>
            {{ session.name }}
          </a>
        </td></tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<h3>Missing Imaging:</h3>
Sessions where redcap records are present, but no scans exist.
<span class="label label-info">Limited to CAMH sessions.</span>
<div class="container" id="qc_outstanding">
  <table>
    {% for session in study.sessions %}
      {% if session.site.name=='CMH'
            and session.redcap_record
            and session.scan_count() == 0 %}
        <tr><td>
          <a href={{ url_for('session', session_id=session.id) }}>
            {{ session.name }}
          </a>
        </td></tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<script type=text/javascript>
  function add_qc_entry(session, data){

    var html = "<div class='row'>";

    if(data[1].trim().match('QC doc')){
      html = html + "QC check required for:"
        + "<a href={{ url_for('session_by_name') }}/"+ session + ">"
        + session + "</a>";
    }else if(data[1].trim().match('No checklist')){
      html = html + "Checklist entry missing for:"
        + "<a href={{ url_for('session_by_name') }}/"+ session + ">"
        + session + "</a>";
    }else{
      html = html + "QC doc not generated for:"
        + "<a href={{ url_for('session_by_name') }}/"+ session + ">"
        + session + "</a>";
    }
      html = html + "</div>"
    return html
  }

  /*
  This function runs dm-qc-todo.py on the study when the document is loaded.
  Function is currently DISABLED
  */
  /*
  $.getJSON( "{{ url_for("todo", study_id=study.id)}}",
    function( data ) {
      if (data.hasOwnProperty('error')){
        if (data['error'] == 'timeout'){
          $('#qc_entries').append('<span class="label label-warning"><stong>Error:</strong>Getting the QC list took too long. Try again later</span>')
        }else{
          $('#qc_entries').append('<span class="label label-danger"><stong>Error:</strong>An error occured getting the QC list. The admins have been notified.<br>' + data['error'] + '</span>')
        }
      }else{
        $.each(data, function (key, val){
          $('#qc_entries').append(add_qc_entry(key, val));
        });
      }
      $('#waiting').hide();
    })
    */
</script>
