<tr id="scan_{{ scan.id }}">
  <td class="scan_series"> {{ scan.series }}</td>
  <td class="scan_type"> {{ scan.tag }}</td>
  <td class="scan_desc">
    <a href="{{url_for('scan', scan_id=scan.id )}}">
      {{ scan.description }}
      {% if scan.source_id %}
        <span class="bg-warning"><em><small> (linked)</small></em></span>
      {% endif %}
    </a>
  </td>

  <!-- Placeholder until I figure out the blacklist organization -->
  <td class="scan_bl">&nbsp;</td>

  <!-- Placeholder while I figure out what to do about the analysis comments -->
  <td>&nbsp;</td>
</tr>
