{% if not scan.scantype.name in ['T1','T2'] %}
  <h4>
    <span class="label label-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> Warning!</span>
    Only the first volume can be viewed for <i>time-series or DTI</i> type data.
  </h4>
{% endif %}

<script type="text/javascript">
    var params = [];
    params["worldSpace"] = true;
    params["images"] = ["{{ scan.get_file_path() }}"];
    params["mainView"] = 'coronal';
    params["interpolation"] = true;
</script>

<div class="papaya" data-params="params"></div>
