<!-- Overview for a single scan -->
{% extends "base.html" %}
{% include 'flash.html' %}
{% block content %}

{% include('add_scan_blacklist_modal.html') %}
{% include('add_scan_comment_modal.html') %}
<div class="container">

  <div class="jumbotron">
    <h1>{{ scan.name }}</h1>
    <p class="lead">
      {% if session.is_phantom %}
        Phantom Data
      {% else %}
        Human Data
      {% endif %}
    </p>
  </div>

  <div role="navigation">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#viewer">Viewer</a></li>
      {% if scan.scantype.name == 'T1' %}
        <li><a data-toggle="tab" href="#hcp">HCP QC</a></li>
      {% endif %}
      <li><a data-toggle="tab" href="#comments">Comments</a></li>
    </ul>
  </div>

  <div class="tab-content">
    <div id="viewer" class="tab-pane fade in active">
      <button type="button" class="pull-right btn btn-danger btn_add_scan_blacklist" data-scanname="{{ session_scan.name }}" data-toggle="modal" data-target="#add_scan_blacklist_modal">
        Add to Blacklist <span class="glyphicon glyphicon-pencil"></span>
      </button>
      {% include 'scan_viewer.html' %}
    </div>
    {% if scan.scantype == 'T1' %}
      <div id="hcp" class="tab-pane fade in">
        {% include 'hcp_qc.html' %}
      </div>
    {% endif %}
    <div id="comments" class="tab-pane fade in">
      {% include 'scan_comments_snip.html' %}
      <button type="button" class="btn btn-info btn_add_scan_comments" data-scanid="{{ scan.id }}" data-scanname="{{ session_scan.name }}" data-toggle="modal" data-target="#add_scan_comment_modal">
        Add analysis comment
      </button>
    </div>
  </div>

</div>

<link rel="stylesheet" type="text/css" href="/static/css/papaya.css" />
<script type="text/javascript" src="/static/js/papaya.js"></script>
{% endblock %}
