<!-- Overview of a single session's data -->
{% extends "base.html" %}
{% include "flash.html" %}
{% block content %}
<!-- This feature was only partially implemented but should be completed
     by us later - Dawn -->
{% include("add_scan_comment_modal.html") %}
<div class="container">

  <div class="jumbotron">
    <h1>{{ session.name }}</h1>
    {% if session.is_phantom %}
      <p class="lead">Phantom</p>
    {% endif %}
  </div>

  <div role="navigation">
    <div class="btn-group" role="group">
      <a class="btn btn-primary" href="{{ url_for('study', study_id=session.study_id) }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="session-menu">Return to {{ session.study.nickname }}</span>
      </a>
    </div>

    <div class="btn-group-vertical pull-right" role="group">
      {% if current_user.is_admin %}
        <a class="button btn btn-primary" id="print_brain">
          <span class="pull-right glyphicon glyphicon-print"></span>
          <span class="session-menu">Print Brain</span>
        </a>
        <a class="button btn btn-primary" id="delete_session">
          <span class="pull-right glyphicon glyphicon-trash"></span>
          <span class="session-menu">Delete Session</span>
        </a>
      {% endif %}
      {% if session.gh_issue %}
        <a class="button btn btn-primary" id="goto_issue">
          <span class="pull-right glyphicon glyphicon-share-alt"></span>
          <span class="session-menu">Go to GitHub Issue</span>
        </a>
      {% else %}
        <a class="button btn btn-primary" id="create_issue">
          <span class="pull-right glyphicon glyphicon-edit"></span>
          <span class="session-menu">Create GitHub Issue</span>
        </a>
      {% endif %}
      {% if not session.incidental_finding %}
        <a class="button btn btn-primary" id="flag_incidental">
          <span class="pull-right glyphicon glyphicon-flag"></span>
          <span class="session-menu">Flag Incidental Finding</span>
        </a>
      {% endif %}
    </div>
  </div>

  <div class="session-info">
    {% set doc_path = session.get_qc_doc() %}
    {% if session.incidental_finding or session.needs_redcap_survey() or not doc_path %}
      {% include 'session_warnings_snip.html' %}
    {% endif %}

    {% if session.redcap_url %}
      <div id="redcap-survey">
        <h4>REDCap comment</h4>
        <div class="well">
          {% if session.redcap_comment %}
            {{ session.redcap_comment }}
          {% else %}
            N / A - Empty comment field
          {% endif %}
        </div>
        <a href="{{ url_for('redcap_redirect', session_id=session.id) }}" class="pull-right btn btn-primary">
          <span class="session-menu">View Survey </span><span class="glyphicon glyphicon-share-alt"></span>
        </a>
      </div>
    {% endif %}

    <form id="comment-form" class="form-inline" action="" method="post" name="session_qc">
      <div class="form-group" style="width: 100%;">
        <h4>QC Comment</h4>
        {{ form.hidden_tag() }}
        <!-- cl_comment is a textarea with id 'cl_comment'. Max length for the database field is 1024 characters -->
        {{ form.cl_comment(maxlength="1024", placeholder="N/A - participant not yet reviewed.") }}
        <div class="pull-left" id="char-count"></div>
        <button class="pull-right btn btn-primary" id="edit-qc">
          <span class='session-menu'>Save</span>
          <span class='glyphicon glyphicon-floppy-disk'></span>
        </button>
      </div>
    </form>
  </div>

  {% if doc_path %}
    <a href="{{ doc_path }}" class="btn btn-primary" id="doc-page">
      <span class="session-menu">View QC page</span>
      <span class="glyphicon glyphicon-share-alt"></span>
    </a>
  {% endif %}

  <div class="table-responsive">
    <table class="ui table">
      <thead>
        <th>Series</th>
        <th>Tag</th>
        <th>Repeat number</th>
        <th>Description</th>
        <th>Blacklisted</th>
        <th>Analysis Comments</th>
      </thead>
      <tbody>
        {% for scanlink in session.scans %}
          {% set scan = scanlink.scan %}
          {% include('scan_snip.html') %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Autosize version 4.0.2: Automatically adjusts textarea height as input is added/deleted. -->
<!-- source: http://www.jacklmoore.com/autosize/ -->
<script src="/static/js/autosize.min.js"></script>

<script type="text/javascript">

// Turn on autosize plugin for cl_comment field
autosize($('#cl_comment'));

// Character counter for the comment text area
$('#cl_comment').on('input', function() {
  // Not hard-coded in case max length in database / form changes
  var length = $(this)[0].maxLength;
  var curLength = $(this).val().length;
  $('#char-count').text(Math.max(0, length - curLength) + ' / ' + length);
});

// session menu button logic begins here
$("#print_brain").bind('click', function(){
  alert('"Coming soon!" - Us, 2+ years ago.');
});

$('.btn_blacklist').bind('click', function(){
  window.location.href = "{{url_for('scan')}}/" + $(this).attr('value')
})

$('#delete_session').bind('click', function(){
  window.location.href = "{{url_for('session',session_id=session.id, delete=True)}}";
})

$('#goto_issue').bind('click', function(){
  window.location.href = "https://github.com/TIGRLab/admin/issues/{{session.gh_issue}}"
})

$('#create_issue').bind('click', function(){
var issTitle = prompt("Please enter a title for the issue:", "{{ session.name }}");
if (issTitle === null) {
  return;
}
var issBody = prompt("Please enter issue details:", "");
if (issBody === null) {
  return;
}
url = "{{url_for('create_issue', session_id=session.id)}}/" + encodeURIComponent(issTitle) + '/' + encodeURIComponent(issBody)
window.location.href = url;
})
$('#flag_incidental').bind('click', function(){
  window.location.href = "{{url_for('session', session_id=session.id, flag_finding=True) }}";
})

</script>
{% endblock %}
