<!-- Code snippet for session list table on study page  -->
<br/>

<table class="table table-condensed table-hover table-striped" id="tbl_sessions">
  <thead>
    <tr>
      <th>Session</th>
      <th>QC Complete</th>
      <th>Is Phantom</th>
    </tr>
  </thead>
  <tbody>
    {% for session in study.sessions %}
      <!-- We only show pages for each timepoint (so repeat sessions will show up on 
      the same page and dont need to be listed separately) -->
      {% if session.num == 1 %}
        {% include 'sessions_snip.html' %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
