<!-- Overview of a single session's data -->
{% extends "base.html" %}
{% include "flash.html" %}
{% block content %}
<!-- This feature was only partially implemented but should be completed
     by us later - Dawn -->
{% include("add_scan_comment_modal.html") %}
<div class="container">

  <div class="bd-pageheader jumbotron">
    <h1>{{ session.name }}</h1>
    {% if session.is_phantom %}
      <p class="lead">Phantom</p>
    {% endif %}
  </div>

  <div role="navigation">
    <div class="btn-group" role="group">
      <a class="btn btn-primary" href="{{ url_for('study', study_id=session.study_id) }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="session-menu">Return to {{ session.study.nickname }}</span>
      </a>
    </div>

    <div class="btn-group-vertical pull-right" role="group">
      {% if current_user.is_admin %}
        <a class="button btn btn-primary" id="print_brain">
          <span class="pull-right glyphicon glyphicon-print"></span>
          <span class="session-menu">Print Brain</span>
        </a>
        <a class="button btn btn-primary" id="delete_session">
          <span class="pull-right glyphicon glyphicon-trash"></span>
          <span class="session-menu">Delete Session</span>
        </a>
      {% endif %}
      {% if session.gh_issue %}
        <a class="button btn btn-primary" id="goto_issue">
          <span class="pull-right glyphicon glyphicon-arrow-right"></span>
          <span class="session-menu">Go to GitHub Issue</span>
        </a>
      {% else %}
        <a class="button btn btn-primary" id="create_issue">
          <span class="pull-right glyphicon glyphicon-edit"></span>
          <span class="session-menu">Create GitHub Issue</span>
        </a>
      {% endif %}
      {% if not session.incidental_finding %}
        <a class="button btn btn-primary" id="flag_incidental">
          <span class="pull-right glyphicon glyphicon-flag"></span>
          <span class="session-menu">Flag Incidental Finding</span>
        </a>
      {% endif %}
    </div>
  </div>

  <div class="session-info">
    {% set doc_path = session.get_qc_doc() %}
    {% if session.incidental_finding or session.needs_redcap_survey() or not doc_path %}
      {% include 'session_warnings_snip.html' %}
    {% endif %}

    <form id="comment-form" class="form-inline" action="" method="post" name="session_qc">
      <div class="form-group" style="width: 100%;">

        <h4>QC Comment</h4>

        {% if session.is_qcd() %}
          {% set initial_text = session.cl_comment %}
        {% else %}
          {% set initial_text = "N/A - Participant not yet reviewed" %}
        {% endif %}



        <textarea id="qc-comment" maxlength="1024">{{ initial_text }}</textarea>
        <div class="pull-left" id="char-count"></div>

        <button type="button" class="pull-right btn btn-primary" id="edit-qc">
          <span class='session-menu'>Save</span>
          <span class='glyphicon glyphicon-floppy-disk'></span>
        </button>

      </div>
    </form>
  </div>

  <div class="row">
    <table class="ui table">
      <thead>
        <th>Series</th>
        <th>Tag</th>
        <th>Repeat number</th>
        <th>Description</th>
        <th>Blacklisted</th>
        <th>Analysis Comments</th>
      </thead>
      <tbody>
        {% for scanlink in session.scans %}
          {% set scan = scanlink.scan %}
          {% include('scan_snip.html') %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Autosize version 4.0.2: Automatically adjusts textarea height as input is given. -->
<!-- source: http://www.jacklmoore.com/autosize/ -->
<script src="/static/js/autosize.min.js"></script>

<script type="text/javascript">

autosize($('#qc-comment'));

// Character counter for the comment text area
$('#qc-comment').on('input', function() {
  // Not hard-coded in case max length in database / form changes
  var length = $(this)[0].maxLength;
  var curLength = $(this).val().length;
  $('#char-count').text(Math.max(0, length - curLength) + ' / ' + length);
});

</script>
{% endblock %}
