<!-- Overview of a single session's data -->
{% extends "base.html" %}
{% include "flash.html" %}
{% block content %}
<!-- This feature was only partially implemented but should be completed
     by us later - Dawn -->
{% include("add_scan_comment_modal.html") %}
<div class="container">

  <div class="bd-pageheader jumbotron">
    <h1>{{ session.name }}</h1>
    {% if session.is_phantom %}
      <p class="lead">Phantom</p>
    {% endif %}
  </div>

  <div role="navigation">
    <div class="btn-group" role="group">
      <a class="btn btn-primary" href="{{ url_for('study', study_id=session.study_id) }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="session-menu">Return to {{ session.study.nickname }}</span>
      </a>
    </div>

    <div class="btn-group-vertical pull-right" role="group">
      {% if current_user.is_admin %}
        <a class="button btn btn-primary" id="print_brain">
          <span class="pull-right glyphicon glyphicon-print"></span>
          <span class="session-menu">Print Brain</span>
        </a>
        <a class="button btn btn-primary" id="delete_session">
          <span class="pull-right glyphicon glyphicon-trash"></span>
          <span class="session-menu">Delete Session</span>
        </a>
      {% endif %}
      {% if session.gh_issue %}
        <a class="button btn btn-primary" id="goto_issue">
          <span class="pull-right glyphicon glyphicon-arrow-right"></span>
          <span class="session-menu">Go to GitHub Issue</span>
        </a>
      {% else %}
        <a class="button btn btn-primary" id="create_issue">
          <span class="pull-right glyphicon glyphicon-edit"></span>
          <span class="session-menu">Create GitHub Issue</span>
        </a>
      {% endif %}
      {% if not session.incidental_finding %}
        <a class="button btn btn-primary" id="flag_incidental">
          <span class="pull-right glyphicon glyphicon-flag"></span>
          <span class="session-menu">Flag Incidental Finding</span>
        </a>
      {% endif %}
    </div>
  </div>

  <br>

  {% set doc_path = session.get_qc_doc() %}
  {% if session.incidental_finding or session.needs_redcap_survey() or not doc_path %}
    {% include 'session_warnings_snip.html' %}
  {% endif %}

  <form id="qc-comment" class="form-inline" action="" method="post" name="session_qc">
    <div class="form-group" style="width: 100%;">
      <h4 style="display: inline-block">QC Comment</h4>
      {% if session.is_qcd() %}
        <div class="well" id="qc_comment">{{ session.cl_comment }}</div>
      {% else %}
        <div class="well" id="qc_comment">N/A - Participant not yet reviewed</div>
      {% endif %}
      <button class="pull-right btn btn-primary" id="edit_qc">
        <span class="session-menu">Edit</span>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
    </div>
  </form>


  <div class="row">
    <h3>
      <div class="col-sm-2">
        QC Comment:
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-default" aria-label="Edit QC" id="edit_qc">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-sm-9 text-left">
        <span class="collapse in text-left" id="qc_comment"><small>
          {% if session.is_qcd() %}
              {{ session.cl_comment }}
          {% else %}
              Not checked
          {% endif %}
        </small></span>
        <span class="collapse" id="qc_form">
          <form action="" method="post" name="session_qc">
            {{ form.hidden_tag() }}
            {{ form.cl_comment(width='100%') }}
            <input type="submit" value="Update" id="btn_update">
          </form>
        </span>
      </div>
    </h3>
  </div>
  <div class="row">
    <table class="ui table">
      <thead>
        <th>Series</th>
        <th>Tag</th>
        <th>Repeat number</th>
        <th>Description</th>
        <th>Blacklisted</th>
        <th>Analysis Comments</th>
      </thead>
      <tbody>
        {% for scanlink in session.scans %}
          {% set scan = scanlink.scan %}
          {% include('scan_snip.html') %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$('#edit_qc').bind('click', function(){
  $('#qc_comment').collapse('toggle');
  $('#qc_form').collapse('toggle');
})

$("#print_brain").bind('click', function(){
  alert('Coming soon!');
});

$('.btn_blacklist').bind('click', function(){
  window.location.href = "{{url_for('scan')}}/" + $(this).attr('value')
})
$('#delete_session').bind('click', function(){
  window.location.href = "{{url_for('session',session_id=session.id, delete=True)}}";
})
$('#goto_issue').bind('click', function(){
  window.location.href = "https://github.com/TIGRLab/admin/issues/{{session.gh_issue}}"
})
$('#create_issue').bind('click', function(){
   /*ECMA6 import syntax that doesn't work on most browsers...probably better to move this to server
  import Issue from "github-api";

  var iss = new Issue("TIGRLab/admin",
    {
      //Removed token
    token: ""
  });
  Issue.createIssue({
    title: issTitle,
    body: issDetails
  });
 */
var issTitle = prompt("Please enter a title for the issue:", "{{ session.name }}");
if (issTitle === null) {
  return;
}
var issBody = prompt("Please enter issue details:", "");
if (issBody === null) {
  return;
}
url = "{{url_for('create_issue', session_id=session.id)}}/" + encodeURIComponent(issTitle) + '/' + encodeURIComponent(issBody)
window.location.href = url;
})
$('#flag_incidental').bind('click', function(){
  window.location.href = "{{url_for('session', session_id=session.id, flag_finding=True) }}";
})
</script>
{% endblock %}
