<div id="{{ session }}">
  <div class="session-header" data-toggle="collapse" data-target="#{{ session }}-body">
    <h3 class="chevron-toggle">{{ session }}</h3>
  </div>
  <hr class="session-separator">
  <div class="session-content collapse in" id="{{ session }}-body">

    <div class="review-status">
      <h4>Review:</h4>
      {% if session.signed_off %}
        {{ '{} {} - {}'.format(session.reviewer.first_name,
            session.reviewer.last_name,
            session.review_date.strftime('%I:%M %p, %Y-%m-%d')) }}
      {% else %}
        Pending.
        <a class="btn btn-primary pull-right" href="{{ url_for('sign_off',
            study_id=study_id, timepoint_id=session.name,
            session_num=session.num) }}">
          Sign Off <i class="fas fa-file-signature"></i>
        </a>
      {% endif %}
    </div>

    {% if session.redcap_record %}
      <div class="redcap-survey">
        <h4>REDCap Comment</h4>
        {% if session.redcap_record.record_id %}
          <div class="well">
            {% if session.redcap_record.record.comment %}
              {{ session.redcap_record.record.comment }}
            {% else %}
              N/A - Survey comment field is empty
            {% endif %}
          </div>
          <a href="{{ url_for('redcap_redirect', session_id=session.num) }}"
              class="pull-right btn btn-primary">
            <span class="button-text">View Survey </span>
            <span class="glyphicon glyphicon-share-alt"></span>
          </a>
        {% else %}
          <!-- No redcap record, but a user dismissed the error indicating this
          is expected -->
          <div class="well">No REDCap record expected for this session.</div>
        {% endif %}
      </div>
    {% endif %}

    {% if session.scans|count %}
      <!-- session scan table -->
      <div class="table-responsive">
        <table class="ui table">
          <thead>
            <th>Series</th>
            <th>Tag</th>
            <th>Description</th>
            <th>Blacklist Comment</th>
            <th>Analysis Comment</th>
          </thead>
          <tbody>
            {% for scan in session.scans %}
              {% include('scan_snip.html') %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% elif session.empty_session %}
      <h4>No Scans Expected</h4>
      <div class="well">{{ session.empty_session.comment }}</div>
      <span class="text-muted pull-right">
        {{ "Recorded by {} {} - {}".format(
            session.empty_session.reviewer.first_name,
            session.empty_session.reviewer.last_name,
            session.empty_session.date_added.strftime('%I:%M %p, %Y-%m-%d')) }}
      </span>
    {% endif %}
  </div>
</div>
