<!-- Overview for a single study -->
{% extends "base.html" %}
{% include 'flash.html' %}
{% block content %}
  <div class="bd-pageheader jumbotron">
    <h1>{{ study.name }}</h1>
      <p class="lead"> {{ study.description }}</p>
    </h1>
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      {% if active_tab %}
        <li><a data-toggle="tab" href="#overview">Overview</a></li>
      {% else %}
        <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      {% endif %}
      {% if active_tab=='qc' %}
        <li class="active"><a data-toggle="tab" href="#qc">Session QC</a></li>
      {% else %}
        <li><a data-toggle="tab" href="#qc">Session QC</a></li>
      {% endif %}
      {% if active_tab=='sessions' %}
        <li class="active"><a data-toggle="tab" href="#sessions">Sessions</a></li>
      {% else %}
        <li><a data-toggle="tab" href="#sessions">Sessions</a></li>
      {% endif %}
      <li><a data-toggle="tab" href="#phantoms">Phantoms</a></li>
      <li><a data-toggle="tab" href="#humans">Subjects</a></li>
    </ul>

    <div class="tab-content">
      {% if active_tab %}
        <div id="overview" class="tab-pane fade in">
      {% else %}
        <div id="overview" class="tab-pane fade in active">
      {% endif %}
        {% include 'study_overview_snip.html' %}
      </div><!--/overview-content-->
      {% if active_tab=='qc' %}
        <div id="qc" class="tab-pane fade in active">
      {% else %}
        <div id="qc" class="tab-pane fade in">
      {% endif %}
        {% include 'qc_snip.html' %}
      </div><!--/qc-content-->
      {%if active_tab=='sessions' %}
        <div id="sessions" class="tab-pane fade in active">
      {% else %}
        <div id="sessions" class="tab-pane fade in">
      {% endif %}
        <table class="table table-condensed table-hover table-striped" id="tbl_sessions">
          <thead>
            <tr>
              <th>Session</th>
              <th>QC complete</th>
              <th>Is Phantom</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for session in study.sessions %}
              {% include 'sessions_snip.html' %}
            {% endfor %}
        </tbody>
      </table>
    </div><!--/session content-->
      <div id="phantoms" class="tab-pane fade in metrics">
        {% include 'metric_selections_phantom_snip.html' %}
      </div><!--/humans-content-->
      <div id="humans" class="tab-pane fade in metrics">
        {% include 'metric_selections_human_snip.html' %}
      </div><!--/humans-content-->
    </div><!--/tab content-->
  </div><!--/container-->
  <script async src="/static/js/metric-selector.js"></script>
{% endblock %}
