<!-- Overview for a single study
The structure of this page is a bit organic, I'd do it differently in future.
The page is rendered from the study() function in views.py

The tab layout relies heavily on the bootstrap infrastructure,
particularly toggleable tabs (http://getbootstrap.com/javascript/#tabs)

Effectively there are two parts,
1: a list of tab headings
2: a series of html <div> elements

Clicking on the tab heading toggles the visibility of the divs.
Most of the html in the divs is extracted into a snippet file and rendered
  using a jinja include function
 -->
{% extends "base.html" %}
{% include 'flash.html' %}
{% block content %}

  <div class="container">
    <div class="bd-pageheader jumbotron">
      <h1>{{ study.name }}</h1>
      {% if study.description %}
        <p class="lead">{{ study.description }}</p>
      {% endif %}
        <p class="lead">
          <ul class="list-inline">
            <li>Human: <span class="badge">{{study.session_count('human')}}</span></li>
            <li>Phantom: <span class="badge">{{study.session_count('phantom')}}</span></li>
          </ul>
        </p>
    </div>

    <div role="navigation">
      <!-- THE LIST OF TAB HEADERS STARTS HERE -->
      <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Change Study <span class="caret"></span>
          </a>
          <ul class="dropdown-menu scrollable-menu study-menu">
            {% for study in current_user.get_studies() %}
              <li>
                <a href="{{ url_for('study', study_id=study.id) }}">
                  {{ study.nickname }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li role="presentation" class="active">
          <a data-toggle="tab" href="#overview">Overview</a>
        </li>
        <li role="presentation">
          <a data-toggle="tab" href="#sessions">Session List</a>
        </li>
        <li role="presentation">
          <a data-toggle="tab" href="#phantoms">Phantom Plots</a>
        </li>
        <li role="presentation">
          <a data-toggle="tab" href="#humans">Subject Plots</a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <!-- TAB CONTENT BEGINS HERE -->
      <div class="tab-pane active" id="overview">
        {% include 'qc_snip.html' %}
        {% include 'study_overview_snip.html' %}
      </div>
      <div class="tab-pane" id="sessions">
        {% include 'session_list_snip.html' %}
      </div>
      <div class="tab-pane" id="phantoms">
        {% include 'metric_selections_phantom_snip.html' %}
      </div>
      <div class="tab-pane" id="humans">
        {% include 'metric_selections_human_snip.html' %}
      </div>
    </div>
  </div>

<!-- Turns on the DataTables plugin for the Session List table -->
<!-- this plugin provides the pagination, search bar, etc. that wraps the table -->
<script>
$(document).ready(function (){
  $('#tbl_sessions').DataTable();
})
</script>

<!-- Holds the code for the Subject plot and Phantom plot graphs -->
<script async src="/static/js/metric-selector.js"></script>

{% endblock %}
