<!-- Generates the panel of session-specific QC warnings -->
<div class="panel panel-danger subject-warning-panel">
  <div class="panel-heading" data-toggle="collapse" data-target="#subjectwarnings">
    <h3 class="panel-title chevron-toggle"><i class="fas fa-exclamation-triangle"></i> Warnings</h3>
  </div>
  <div class="panel-body collapse in" id="subjectwarnings">

    <!-- The missing QC doc warning -->
    {% if not timepoint.static_page %}
      <div>
        <h4 style="display: inline-block;">
          <span class="label label-warning">
            <i class="fas fa-info-circle"></i> No QC Doc available:
          </span>
        </h4> If more than three days have passed since scan data was discovered please create a GitHub issue.
      </div>
    {% endif %}

    <!-- The static QC page rewrite warning -->
    {% if timepoint.needs_rewrite() %}
      <div>
        <h4 style="display: inline-block;">
          <span class="label label-danger">
            <i class="fas fa-exclamation-circle"></i> QC page out of date:
          </span>
        </h4> A session has been added since the static QC page was last updated. Contact an admin about regenerating the page.
      </div>
    {% endif %}

    {% if timepoint.needs_redcap_survey() or timepoint.missing_scans() %}
      {% for session in timepoint.sessions %}

        <!-- The missing redcap survey warning(s) -->
        {% if not session.redcap_record %}
          <div>
            <h4 style="display: inline-block;">
              <span class="label label-warning">
                <i class="fas fa-info-circle"></i> No REDCap record available:
              </span>
            </h4> A survey is expected for {{ session }} but no survey has been found.
          </div>
        {% endif %}

        <!-- The missing scans warning. It's visually obvious, but including this
         allows it to be permanently dismissed by the user -->
        {% if not session.scans %}
          <div>
            <h4 style="display: inline-block;">
              <span class="label label-warning">
                <i class="fas fa-info-circle"></i> Missing Scans:
              </span>
            </h4> A redcap record was received for <b>{{ session }}</b> on <b>{{ session.redcap_record.date }}</b> but no scan data have been found.
          </div>
        {% endif %}

      {% endfor %}
    {% endif %}

  </div>
</div>
