<!-- Overview of a single timepoint's data -->
{% extends "base.html" %}
{% include "flash.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>{{ timepoint.name }}</h1>
    {% if timepoint.is_phantom %}
      <p class="lead">Phantom</p>
    {% endif %}
  </div>

  {% if timepoint.incidental_findings %}
    {% include 'incidental_finding_snip.html'%}
  {% endif %}

  <div class="row">
    <!-- The main content for a timepoint page -->
    <div class="col-xs-9">
      <!-- The back button and 'reviewed' flag if timepoint has been QC'd -->
      <div class="row">
        <div class="col-xs-4">
          <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ url_for('study', study_id=study_id) }}">
              <span class="glyphicon glyphicon-arrow-left"></span>
              <span class="button-text">Return to {{ study_id }}</span>
            </a>
          </div>
        </div>
        <div class="col-xs-8 text-center">
          {% if timepoint.is_qcd() %}
            <span class="text-success" style="font-size:24px;">
              <i class="fas fa-check-circle"></i> Reviewed
            </span>
          {% endif %}
        </div>
      </div>

      <!-- Reporting on the timepoint itself -->
      <div id="timepoint-reporting" style="margin-top:30px;">
        {% if (timepoint.needs_redcap_survey(study_id)
               or timepoint.needs_rewrite()
               or not timepoint.static_page
               or timepoint.missing_scans()) %}
          {% include 'timepoint_warnings_snip.html' %}
        {% endif %}
        {% if timepoint.static_page %}
          <a href="{{ timepoint.static_page }}" class="btn btn-primary" id="doc-page">
            <span class="button-text">View QC page</span>
            <span class="glyphicon glyphicon-share-alt"></span>
          </a>
        {% endif %}
        {% include 'timepoint_comment_snip.html'%}
      </div>
    </div>
    <!-- The navigation button menu for a timepoint -->
    <div class="col-xs-3">
      <div role="navigation">
        <div class="btn-group-vertical pull-right" role="group">
          {% if current_user.is_study_admin(study_id) %}
            <a class="button btn btn-primary" id="print_brain">
              <span class="pull-right glyphicon glyphicon-print"></span>
              <span class="button-text">Print Brain</span>
            </a>
            <a class="button btn btn-primary" id="delete-timepoint"
                data-toggle="modal" href="#delete-modal">
              <span class="pull-right glyphicon glyphicon-trash"></span>
              <span class="button-text">Delete Timepoint</span>
            </a>
          {% endif %}
          {% if timepoint.github_issue %}
            <a class="button btn btn-primary" id="goto_issue">
              <span class="pull-right glyphicon glyphicon-share-alt"></span>
              <span class="button-text">Go to GitHub Issue</span>
            </a>
          {% else %}
            <a class="button btn btn-primary" id="create_issue">
              <span class="pull-right glyphicon glyphicon-edit"></span>
              <span class="button-text">Create GitHub Issue</span>
            </a>
          {% endif %}
          <a class="button btn btn-primary" data-toggle="modal"
              href="#incidental-finding-modal">
            <span class="pull-right glyphicon glyphicon-flag"></span>
            <span class="button-text">Flag Incidental Finding</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- This section reports info from individual sessions within the timepoint -->
  <div id="session-reporting">
    {% for session in timepoint.sessions.values() %}
      {% include 'session_snip.html' %}
    {% endfor %}
  </div>

  <!-- The incidental finding modal  -->
  <div id="incidental-finding-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fas fa-times"></i>
          </button>
          <h4>Report Incidental Finding</h4>
        </div>
        <div class="modal-body">
          <p>
            An incidental finding will be reported for <strong>{{ timepoint }}</strong>.
            Admins will be notified of the issue.
          </p>
          <form action="{{ url_for('flag_finding', study_id=study_id,
              timepoint_id=timepoint.name) }}" method="post" name="flag-finding"
              class="form">
              {{ incidental_findings_form.hidden_tag() }}
              {{ incidental_findings_form.comment() }}
              <div>
              {{ incidental_findings_form.submit(class_="btn btn-primary")}}
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
              data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal (message text and destination filled in by javascript
  function)-->
  <div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fas fa-times"></i>
          </button>
          <h4>Delete database records?</h4>
        </div>
        <div class="modal-body">
          <p><span style="color: red;"><strong>WARNING: </strong></span>
            <span id="delete-message"></span>
            <div style="text-align: center;">Continue?</div>
          </p>
        </div>
        <div class="modal-footer">
          <a type="button" id="delete-submit" class="btn btn-primary pull-left"
              href="#">
            Delete
          </a>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>


</div>

<script type="text/javascript">

$("#print_brain").bind('click', function(){
  alert('"Coming soon!" - Us, 2+ years ago.');
});

// updateDeleteModal is wrapped in a function to ensure session_num isnt set by the browser
$("#delete-timepoint").on('click', function () {updateDeleteModal()});
$(".delete-session").on('click', function() {
  var session = this.getAttribute('data-session');
  updateDeleteModal(session);
});

function updateDeleteModal(session_num) {
  var name = "{{ timepoint.name }}";
  var warningBox = $("#delete-message");
  var submitButton = $("#delete-submit");
  if (session_num) {
    var message = "Session " + session_num + " from " + name +
      " will be deleted and everything associated with it will be purged " +
      "from the database (i.e. all scans, blacklist comments, metrics, etc.). " +
      "Everything except comments will be regenerated if the data is left on " +
      "the filesystem.";
    var destURL = "{{ url_for('timepoint', study_id=study_id, timepoint_id=timepoint.name) }}/delete_session/" +
        session_num;
  } else {
    var message = name + " and all of its sessions will be deleted. " +
      "Everything associated with this ID will be purged from the database. " +
      "If the original data is left on the filesystem it will be re-added " +
      "later, but any associated comments will disappear forever.";
    var destURL = "{{ url_for('delete_timepoint', study_id=study_id, timepoint_id=timepoint.name)}}";
  }
  warningBox.text(message);
  submitButton.attr("href", destURL);
}
</script>
{% endblock %}
