<!-- Code snippet for session list table on study page  -->
<br>

<table class="table table-condensed table-hover table-striped" id="tbl_sessions">
  <thead>
    <tr>
      <th>Session</th>
      <th>QC Complete</th>
      <th>Is Phantom</th>
    </tr>
  </thead>
  <tbody>
    {% for timepoint in study.timepoints %}
      <tr>
        <td>
          <a href={{ url_for('timepoint', study_id=study.id, timepoint_id=timepoint.name) }}>
            {{ timepoint.name }}
          </a>
        </td>
        <td>
          {% if timepoint.is_qcd() %}
          <span class="glyphicon glyphicon-ok"/>
          {% else %}
          <span class="glyphicon glyphicon-edit"/>
          {% endif %}
        </td>
        <td>
          {% if timepoint.is_phantom %}
          <span class="glyphicon glyphicon-ok"/>
          {% else %}
          <span class="glyphicon glyphicon-edit"/>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
