{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
    <script type=text/javascript>
      // bind the submit event to the form elements
      $(function() {
        $("[name=select_metrics]").find("select").bind('change', function(){
          $(this).closest("form").submit();
        })
      });
      //catch the update button even and use it to update the hidden field to True
      $(function(){
        $("input[type=submit]").bind('click', function(){
          $(this).closest("form").find("input[name=query_complete]").val('True');
        })
      });
    </script>
    <div class="page-header">
        <h1>Sites</h1>
    </div>
    <form class="form-horizontal" action="" method="post" name="select_metrics">
      {{ form.csrf_token }}
      {{ form.query_complete}}
        <div class="form-group">
          <label class="control-label" for="site_id">Sites:</label>
          {{ form.site_id(maxlength=64, class=span4) }}
          <label class="control-label" for="study_id">Studies:</label>
          {{ form.study_id(maxlength=64, class=span4) }}
          <label class="control-label" for="scantype_id">Scan types:</label>
          {{ form.scantype_id(maxlength=64, class=span4) }}
          <label class="control-label" for="metrictype_id">Metrics:</label>
          {{ form.metrictype_id(maxlength=64, class=span4) }}

        </div>
        <div class="form-group">
          <div class="controls">
            <input class="btn btn-primary" type="submit" value="update">
          </div>
        </div>
    </form>
    <div id='data'>
          {{data}}
    </div>
    <div id='chart'></div>
    <script>
    var dataFromSelection = document.getElementById('data');
    var dataList = JSON.parse(dataFromSelection.innerHTML);
    var chartList = [];

    dataList.forEach(function(entry){
      chartList.push(entry.value);
    });

    chartList.unshift(dataList[0].metrictype);

    var chart = c3.generate({
        bindto: '#chart',
        data: {
            columns: [
              chartList
            ]
        }//,
        //axis: {
        //  x: {
        //    type: 'category',
        //    categories: ["Subject1","Subject2","Subject3","Subject4","Subject5","Subject6"]
        //  }
        //}
    });</script>

{% endblock %}
