{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
    <script type=text/javascript>
      // bind the submit event to the form elements
      $(function() {
        $("[name=select_metrics]").find("select").bind('change', function(){
          $(this).closest("form").submit();
        })
      });
      //catch the update button even and use it to update the hidden field to True
      $(function(){
        $("input[type=submit]").bind('click', function(){
          $(this).closest("form").find("input[name=query_complete]").val('True');
        })
      });
    </script>
    <div class="page-header">
        <h1>Sites</h1>
    </div>
    <form class="form-horizontal" action="" method="post" name="select_metrics">
      {{ form.csrf_token }}
      {{ form.query_complete}}
        <div class="form-group">
          <label class="control-label" for="site_id">Sites:</label>
          {{ form.site_id(maxlength=64, class=span4) }}
          <label class="control-label" for="study_id">Studies:</label>
          {{ form.study_id(maxlength=64, class=span4) }}
          <label class="control-label" for="scantype_id">Scan types:</label>
          {{ form.scantype_id(maxlength=64, class=span4) }}
          <label class="control-label" for="metrictype_id">Metrics:</label>
          {{ form.metrictype_id(maxlength=64, class=span4) }}

        </div>
        <div class="form-group">
          <div class="controls">
            <input class="btn btn-primary" type="submit" value="Update">
          </div>
        </div>
    </form>
    <div id='data' hidden>
          {{data}}
    </div>
    <div id='chart'></div>
    <script>
    var dataFromSelection = document.getElementById('data');
    var dataList = JSON.parse(dataFromSelection.innerHTML);
    var siteSet = new Set();
    var valueList = [];
    var subjectList = [];
    var overallValueList = [];
    var overallSubjectList = [];

    dataList.forEach(function(entry){
      siteSet.add(entry.site_name);
    });

    siteSet.forEach(function(site){
      valueList = [];
      subjectList = [];
      dataList.forEach(function(entry){
        if (entry.site_name == site) {
          valueList.push(entry.value);
          subjectList.push(entry.session_name)
        }
      } );
    valueList.unshift(site);
    overallValueList.push(valueList);
    overallSubjectList.push(subjectList);
  });



    var chart = c3.generate({
        bindto: '#chart',
        data: {
            columns:
              overallValueList

        },
        axis: {
          x: {
            type: 'category',
            show: false,
            categories: overallSubjectList[0] //This is wrong when more than one site is displayed;
                                              //TODO
          }
        },
        tooltip: {
        grouped: false
    },
    zoom: {
        enabled: true
    }
    });</script>

{% endblock %}
