{% extends "base.html" %}

{% block content %}
  {% include 'flash.html' %}
    <div class="page-header">
        <h1>Sites</h1>
    </div>
    <form class="form-horizontal" action="" method="post" name="edit">
      {{ form.csrf_token }}
      <div>
        <label class="control-label" for="study_id">Studies:</label>
        <div class="form-group">
          {{ form.study_id(maxlength=64, class=span4) }}
          {% for error in form.errors.study_id %}
            <span class="help-inline">[{{error}}]</span><br/>
          {% endfor %}
        </div>
      </div>
    </form>
