<h2>QC ToDo</h2>
  <div class="well well-lg camh" id="waiting">
    <img class='center-block' src='/static/images/ajax-loader.gif' alt="loading">
  </div>
  <div class="container" id="qc_entries">
  </div>

<script type=text/javascript>
  function add_qc_entry(session, data){

    var html = "<span class='row'>";

    if(data[1].trim().startsWith('QC doc')){
      html = html + "<span class='label-info'>QC check required for:"
        + "<a href={{ url_for('session_by_name') }}/"+ session + ">"
        + session + "</a></span>";
    }else if(data[1].trim().startsWith('NO checklist')){
      html = html + "<span class='label-warning'>Checklist entry missing for:"
        + "<a href={{ url_for('session_by_name') }}/"+ session + ">"
        + session + "</a></span>";
    }else{
      html = html + "<span class='label-warning'>QC doc not generated for:"
        + "<a href={{ url_for('session_by_name') }}/"+ session + ">"
        + session + "</a></span>";
    }
      html = html + "</span>"
    return html
  }

  $.getJSON( "{{ url_for("todo", study_id=study.id)}}",
    function( data ) {
      if (data.hasOwnProperty('error')){
        if (data['error'] == 'timeout'){
          $('#qc_entries').append('<span class="label label-warning"><stong>Error:</strong>Getting the QC list took too long. Try again later</span>')
        }else{
          $('#qc_entries').append('<span class="label label-danger"><stong>Error:</strong>An error occured getting the QC list. The admins have been notified</span>')
        }
      }else{
        $.each(data, function (key, val){
          $('#qc_entries').append(add_qc_entry(key, val));
        });
      }
      $('#waiting').hide();
    })
</script>
