<!-- Overview for a single study -->
{% extends "base.html" %}

{% block content %}
  <div class="bd-pageheader jumbotron">
    <h1>{{ study.name }}</h1>
      <p class="lead"> {{ study.description }}</p>
    </h1>
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      <li><a data-toggle="tab" href="#qc">Session QC</a></li>
      <li><a data-toggle="tab" href="#phantoms">Phantoms</a></li>
      <li><a data-toggle="tab" href="#humans">Subjects</a></li>
    </ul>

    <div class="tab-content">
      <div id="overview" class="tab-pane fade in active">
        {% include 'study_overview_snip.html' %}
      </div><!--/overview-content-->
      <div id="qc" class="tab-pane fade in">
        {% include 'qc_snip.html' %}
      </div><!--/qc-content-->
      <div id="humans" class="tab-pane fade in">
        {% include 'metric_selections_snip.html' %}
      </div><!--/humans-content-->
    </div><!--/tab content-->
  </div><!--/container-->
{% endblock %}
